@{
    ViewData["Title"] = "Page Streaming";
}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="text-center">
    <h1 class="display-4">Navegue no seu streaming Favorito </h1>
     <p class="lead"> Clica no streaming que você deseja e aproveita !</p>
  <hr class="my-4">
 <div class="text-center">
<img src="~/img/122.png" class="rounded" alt="~/img/122.png">
</div>

</div>
<div class="alert alert-primary" role="alert">
<center> <img src="~/img/primevideo1.png" class="mr-3" alt="~/img/primevideo.png"><button type="button" class="btn btn-primary"><a href="https://www.primevideo.com/?ref_=dvm_pds_amz_br_dc_s_b_mkw_stltV9AZw-dc_pcrid_&mrntrk=slid__pgrid_1224856203131472_pgeo_116068_x__ptid_kwd-76553718488045:loc-20" class="alert-link">PRIME VIDEO</a></button></center> 
</div>
<div class="alert alert-secondary" role="alert">
<center><img src="~/img/hbo2.png" class="mr-3" alt="~/img/hbo2.png"><button type="button" class="btn btn-light"><a href="https://www.hbomax.com/br/ptclass" class="alert-link">HBO MAX</a></button></center> 
</div>
<div class="alert alert-success" role="alert">
<center><img src="~/img/disneyplus3.png" class="mr-3" alt="~/img/disneyplus3.png"><button type="button" class="btn btn-info"><a href="https://www.disneyplus.com/pt-br?gclid=347029ce5f7c1054b21b4a4c1a2c1a1b&gclsrc=3p.ds&&cid=DSS-Search-Bing-71700000075038489&s_kwcid=AL!8468!10!79439872877231!disney&msclkid=347029ce5f7c1054b21b4a4c1a2c1a1b" class="alert-link">DISNEY+</a></button></center>
</div>
<div class="alert alert-danger" role="alert">
  <center><img src="~/img/netflix3.png" class="mr-3" alt="~/img/netflix3.png"><button type="button" class="btn btn-danger"><a href="https://www.netflix.com/browse" class="alert-link">NETFLIX</a></button></center> 
</div>
<div class="alert alert-warning" role="alert">
 <center><img src="~/img/starmais5.png" class="mr-3" alt="~/img/starmais5.png"><button type="button" class="btn btn-warning"><a href="https://www.starplus.com/home" class="alert-link">STAR PLUS</a></button></center>
</div>
<div class="alert alert-info" role="alert">
 <center><img src="~/img/globoplay6.png" class="mr-3" alt="~/img/globoplay6.png"><button type="button" class="btn btn-success"><a href="https://globoplay.globo.com/" class="alert-link">GLOBOPLAY</a></button></center> 
</div>